@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
   --primary-color: #212121;
   --secondary-color: #2f2f2f;
   --tertiary-color: #494949;
   --sidebar-color: #171717;
   --primary-text: #b4b4b4;
   --secondary-text: #ececec;
   --font-size-base: 12px;
   --active-page: #2f2f2f;
   --green-buttons: green;
   --yellow-buttons: rgb(255, 255, 57);
   --red-buttons: rgb(201, 1, 1);
}

* {
   margin: 0;
   padding: 0;
   font-family: "Nunito Sans", sans-serif, cursive, system-ui, -apple-system,
      "Segoe UI";
   box-sizing: border-box;
}

html {
   line-height: 1.5rem;
   font-weight: 600;
}

body {
   min-height: 100vh;
   min-height: 100dvh;
   background-color: var(--primary-color);
   color: var(--secondary-text);
}

header {
   display: flex;
   margin: 40px 100px 0;
   justify-content: space-between;
   border: 0;
   padding-bottom: 45px;
   border-bottom: 2px solid var(--tertiary-color);
}

.search-form {
   display: flex;
   gap: 3px;
}

#location {
   width: 300px;
   font-size: 20px;
   background-color: inherit;
   border: 0;
   border-bottom: 2px solid var(--primary-text);
}
